@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif !important;
  background-color: #f7f7f7;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Hide spinner controls for Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinner controls for Firefox */
.no-spinner[type="number"] {
  -moz-appearance: textfield;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: "rotate(0deg)";
  }
  100% {
    transform: "rotate(360deg)";
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
